body{
    margin: 0;
}

.header{
    background-color: #273240;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 30px;
}

.header img{
    height: 60px;
}

.row2 {
    display: flex;
    gap: 5px;
}

.row-element2 {
    flex: 1;
}

.column2 {
    display: flex;
    flex-direction: column;
}

.column-element2 {
    flex: 1;
}

#input-data-container{
    max-width: 1000px;
    margin: 0 auto;
}

#data-analysis-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, auto);
    grid-gap: 5px;
    grid-template-areas:
        "program students"
        "grade grade"
        "extra extra"
        "courses courses";
    max-width: 1000px;
    margin: 0 auto;
}

#program-list-container {
    grid-area: program;
}

#students-list-container {
    grid-area: students;
}

#grade-means-report-container{
    grid-area: grade;
}

#courses-container{
    grid-area: courses;
    padding: 15px 40px;
    margin-top: 20px;
}

#extra{
    grid-area: extra;
}

#extra h4{
    color: white;
}

#extra p{
    color: white;
}

.tab-container{

}

.tab-container .tab{
    padding: 10px !important;
}

.tab-container .tab span{
    font-family: Roboto;
    text-transform: uppercase;
    font-weight: bold;
    
}

.tab-container .tab .tab--selected{
    
}

.tab-content{
    margin-top: 60px;
}

#output-data{
    display: none;
}

@media screen and (max-width: 425px) {
    #data-analysis-container {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "program"
        "students"
        "grade"
        "extra"
        "courses";
    }
}
